/*html*/
body, html {
	background-color: #D9D9D9;
	color: #373737;
	width: 100%;

}

p {
	font-family: Castoro;
	letter-spacing: .8px;
	font-size: 1em;
  text-align: center;
}

h1 {
	text-align: center;
	font-family: Roboto;
	font-size: 3em;
	letter-spacing: .8px;
	padding-top: 140px;
  padding-bottom: 40px;
}

h2 {
	text-align: center;
  font-family: Roboto;
	letter-spacing: .8px;
	font-size: 1.8em;
}

a {
  font-family: Castoro !important;
  font-size: 1em !important;
}

#logo {
  width: 10em;
  margin-left: 20px;
}

/*home*/
#home {
	background-color: #D9D9D9;
	margin-top: 50px;
  padding-bottom: 10em;

}

.greychess {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}



@media screen and (max-width: 619px) {
  #greychess {
    width: 100%;
  }
}

#chessnation {
  padding-top: 30px;
}


.row {
  padding: 0 50px;
}


/*board*/
/*
.board {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: center;
  height: 100%;
 }*/



.meeting {

}

 /* Pattern styles */
 .container {

   display: flex;
   height: 100vh;
   flex-wrap: wrap;
   justify-content: space-between;
 }

.top-bar {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#colorSelection {
       display: flex;
       justify-content:left;
       align-items: start;
       text-align: center;
 }

 .left-side {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 48%;
 }

 #myBoard {
 width: 60%;
 }
 #meet {
 width: 75%; height: 90%;
 }

 .right-side {

     display: flex;
     flex: 1;
     justify-content: center;
     align-items: center;
     padding: 1rem;
     width: 48%;
 }

 .bottom-bar {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #logoChannel {
position:absolute;
left:0;
top:0;
 }


/*media*/
@media screen and (max-width: 1400px) {
   #myBoard {
   width: 80%;
   }
   #meet {
   width: 85%; height: 85%;
   }
}

@media screen and (max-width: 1000px) {
   #myBoard {
   width: 90%;
   }
   #meet {
   width: 85%; height: 75%;
   }
}

@media screen and (max-width: 700px) {
   #myBoard {
   width: 100%;
   }
   #meet {
   width: 95%; height: 65%;
   }
}

@media only screen and (orientation:portrait){
  body {
    height: 100vw;
    transform: rotate(90deg);
  }


}


